/* ------------------------------------ */
/* ---------- RESETS GERAIS ---------- */
/* ---------------------------------- */

:root {
    --bordo: #45000eee;
    --transparent-dark-grey: #1f1f1fd8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 100%;
    background-image: linear-gradient(90deg, #FFB3C1, #f16e86, #fc6782, #f74061, #C9184A, #A4133C, #800F2F, #590d22);
    background-size: 150% 100%;
    animation: bg-animated 5s infinite alternate-reverse;
    position: relative;
}

@keyframes bg-animated {
    0% {
        background-position-x: 0
    }

    100% {
        background-position-x: 100%;
    }
}

section {
    max-width: 90vw;
    margin: 0 auto;
}

div.line {
    background-color: var(--bordo);
    height: 10px;
}

.container {
    text-align: center;
}

div.container .title {
    color: #000;
}

a.back {
    position: fixed;
    right: 2%;
    bottom: 10%;
    padding: 12px 0;
    background-color: #1f1f1f85;
    border-radius: 16px;
    text-align: center;
}

a.back img {
    width: 50%;
}

/* --------------------------------------- */
/* ---------- SECTION PCR KIDS ---------- */
/* ------------------------------------- */

div.kid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    border-radius: 8px;
    max-width: 90%;
    margin: 2% auto;
    align-items: center;
    justify-content: space-evenly;
}


div.divisor {
    border-inline-end: 2px solid #000;
    height: 80%;
    width: 50%;
}

.fallOver {
    width: 40%;
}

.pcrKid_img {
    width: 25%;
    margin-right: 5%;
}

.danger {
    width: 70%;
}

.tel {
    width: 12%;
    margin-left: 4%;
    margin-right: 14%;
}

.logoCopel {
    width: 40%;
    margin: 0 -28px;

}

.call,
.fireman,
.police,
.paramedic,
.copel {
    display: flex;
    align-items: center;
}

/* ---------------------------------- */
/* ---------- SECTION SAFE ---------- */
/* ---------------------------------- */

div.divisor_line {
    border-top: 2px solid var(--bordo);
    width: 60%;
    margin: 2% auto;
}

img.estimulos {
    width: 60%;
}

img.verificationBreath,
img.kidPulse {
    width: 80%;
    margin-top: -70px;

}

div.explain {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
}

img.crpCrianca {
    width: 45%;
}

a.video {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
}

a.video img {
    width: 6%;
}

div.pcrBaby {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

div.pcrBaby img {
    width: 40%;
}

/* ---------------------------------- */
/* ---------- SECTION DEA ---------- */
/* ---------------------------------- */

section.dea {
    width: 70%;
}

div.guidance {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 4%;
    line-height: 70px;
}

section.dea div.container img {
    width: 70%;
}