/* ------------------------------------ */
/* ---------- RESETS GERAIS ---------- */
/* ---------------------------------- */

:root {
    --bordo: #45000eee;
    --transparent-dark-grey: #1f1f1fd8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #FFB3C1, #f16e86, #fc6782, #f74061, #C9184A, #A4133C, #800F2F, #590d22);
    background-size: 150% 100%;
    animation: bg-animated 5s infinite alternate-reverse;
    position: relative;
}

div.general {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

@keyframes bg-animated {
    0% {
        background-position-x: 0
    }

    100% {
        background-position-x: 100%;
    }
}

section {
    max-width: 90vw;
    margin: 0 auto;
    min-height: 100vh;
}

div.line {
    background-color: var(--bordo);
    height: 10px;
}

.containerPages {
    text-align: center;
}

a.back {
    position: fixed;
    right: 2%;
    bottom: 20%;
    padding: 11px 0;
    background-color: #cfcdcd56;
    border-radius: 16px;
    text-align: center;
}

a.back img {
    width: 50%;
}

a.home img {
    width: 30px;
    color: #fff;
}

a.home {

    font-size: 1.35rem;
    position: absolute;
    left: 2%;
    text-shadow: 0 2px 6px #272727da;
    z-index: 100;
    text-decoration: underline;
    padding: 10px;
}

a.next {
    display: flex;
    flex-direction: row;
    font-size: 1.35rem;
    position: absolute;
    right: 2%;
    text-shadow: 0 2px 6px #272727da;
    padding: 10px;
    gap: 10px;
    z-index: 100;
    text-decoration: underline;
}

a.next img {
    width: 30px;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1.5s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1.5s;
    transform: translateX(0);
}

/* --------------------------------------- */
/* ---------- SECTION PCR KIDS ---------- */
/* ------------------------------------- */

div.adult {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    border-radius: 8px;
    max-width: 90%;
    margin: 2% auto;
    align-items: center;
    justify-content: space-evenly;
}


div.divisor {
    border-inline-end: 2px solid #fff;
    height: 80%;
    width: 50%;
}

.fallOver {
    width: 40%;
}

.gestante{
    width: 60%;
}

.pcrAdult_img {
    width: 25%;
    margin-right: 5%;
}

.danger {
    width: 70%;
}

.tel {
    width: 12%;
    margin-left: 4%;
    margin-right: 14%;
}

.logoCopel {
    width: 40%;
    margin: 0 -28px;

}

.call,
.fireman,
.police,
.paramedic,
.copel {
    display: flex;
    align-items: center;
}

/* ---------------------------------- */
/* ---------- SECTION SAFE --------- */
/* -------------------------------- */

div.divisor_line {
    border-top: 2px solid #fff;
    width: 60%;
    margin: 2% auto;
}

img.estimulos {
    width: 60%;
}

img.verificationBreath {
    width: 80%;
}

img.adultPulse {
    width: 95%;
}
img.crpAdult {
    width: 75%;
}

div.explain {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
}

div.breath {
    display: flex;
    flex-direction: row;
}


a.video {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
}

a.video img {
    width: 6%;
}

div.aviso {
    text-align: center;
    background-color: #ffffffc7;
    width: 20%;
    padding: 20px 0;
    position: absolute;
    right: 6%;
    bottom: 50%;
    border-radius: 8px;
}

div.aviso p {
    color: #000;
}

/* ---------------------------------- */
/* ---------- DIV GESTANTE---------- */
/* -------------------------------- */

div.gestante {
    text-align: center;
    margin: 0 auto;
}

div.gestante img {
    margin: -140px 0;
    width: 100%;
}

/* ---------------------------------- */
/* ---------- SECTION DEA ---------- */
/* -------------------------------- */

section.dea {
    width: 70%;
}

div.guidance {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 4%;
    line-height: 70px;
}

section.dea div.containerPages img {
    width: 70%;
}

ul:nth-child(2){
    transition-delay: 200ms;
}
ul:nth-child(3){
    transition-delay: 350ms;
}
ul:nth-child(4){
    transition-delay: 500ms;
}
ul:nth-child(5){
    transition-delay: 650ms;
}
ul:nth-child(6){
    transition-delay: 800ms;
}
ul:nth-child(7){
    transition-delay: 950ms;
}
ul:nth-child(8){
    transition-delay: 1.1s;
}
ul:nth-child(9){
    transition-delay: 1.25s;
}

/* ---------------------------------- */
/* ---------- FOOTER --------------- */
/* -------------------------------- */


footer {
    background-color: #1f1f1fd8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    align-items: center;
    height: 166px;
    width: 100%;
}

footer #direitos {
    font-size: 1.15rem;
    color: #ffff;
}

.logo img {
    position: relative;
    width: 20%;
}