.title {
    font-family: "Rancho";
    font-size: 3rem;
    text-align: center;
    color: #fff;
}

.subtitle, span, h3 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 1.75rem;
    color: #fff;
}

h4{
    font-family: "Libre Franklin", sans-serif;
    font-size: 1.65rem;
    color: #fff;
}

.title, .subtitle {
    color: #fff;
}

h3 {
    text-decoration: underline 2px;
    color: #fff;
}

a,
small,p, li{
    font-family: "Josefin Sans", system-ui;
    color: #fff;
}

a {
    font-size: 1.75rem;
    text-decoration: none;
    color: #fff;
}

a.link {
    color: #fff;
}

small {
    font-size: 1.45rem;
    font-weight: 300;
    color: #fff;
}

span {
    font-weight: 300;
    font-size: 1.15rem;
    text-decoration: underline #fff;
}

.inseguro {
    font-size: 1.55rem;
}

p {
    font-size: 1.45rem;
}

ul {
    color:  #fff;
    
}

li {
    font-size: 1.5rem;
}

b.warning {
    font-size: 1.5rem;
    color: red;
}